crewai
langchain
openai
chromadb
sentence-transformers
spacy
pdfminer.six
fastapi
uvicorn
python-dotenv
langchain-community
together
python-dotenv
streamlit
PyPDF2
python-docx
flask
flask-login
flask-sqlalchemy
flask-dance
beautifulsoup4
requests-oauthlib
openai
flask-socketio
flask-cors
eventlet
reportlab